<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="noindex,nofollow">
        <title>ToDo List</title>
        <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon.png">
        <link href="css/style.min.css" rel="stylesheet">
        <link href="css/all.min.css" rel="stylesheet">
        <link href="css/menu.css" rel="stylesheet">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Tasks</h4>
                            <h6 class="card-subtitle">
                            </h6>
                            <div class="table-responsive">
                                <table class="table user-table">
                                    <thead>
                                        <tr>
                                            <th class="border-top-0">ID</th>
                                            <th class="border-top-0">Last update</th>
                                            <th class="border-top-0">Title</th>
                                            <th class="border-top-0">Status</th>
                                            <th class="border-top-0">Description</th>
                                            <th class="border-top-0">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="task : ${taskList}">
                                            <td th:text="${task.id}"></td>
                                            <td th:text="${task.lastUpdate}"></td>
                                            <td th:text="${task.title}"></td>
                                            <td th:text="${task.status}"></td>
                                            <td th:text="${task.description}"></td>
                                            <td><a th:href="@{'/edit/' + ${task.id}}"><button class="btn btn-warning text-white"><i class="fas fa-eye"></i> Edit</button></a> <a th:href="@{'/mark/' + ${task.id}}"><button class="btn btn-success text-white"><i class="fas fa-check-circle"></i> Mark as completed</button></a> <a th:href="@{'/delete/' + ${task.id}}"><button class="btn btn-danger text-white"><i class="fas fa-times-circle"></i> Delete</button></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <form class="form-horizontal form-material mx-2" method="post" action="?">
                                <div class="form-group">
                                    <label class="col-md-12 mb-0">Title <b style="color: red;">*</b></label>
                                    <div class="col-md-12">
                                        <input th:value="${title}" name="title" type="text" placeholder="" class="form-control ps-0 form-control-line" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12 mb-0">Description <b style="color: red;">*</b></label>
                                    <div class="col-md-12">
                                        <input th:value="${description}" name="description" placeholder="" class="form-control ps-0 form-control-line" required>
                                    </div>
                                </div>
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                <button type="submit" class="btn btn-lg btn-success mx-auto mx-md-0 text-white"><i class="fas fa-save"></i> Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="../assets/plugins/jquery/dist/jquery.min.js"></script>
        <script src="../assets/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="js/app-style-switcher.js"></script>
        <script src="js/waves.js"></script>
        <script src="js/sidebarmenu.js"></script>
        <script src="js/custom.js"></script>
    </body>

</html>